@use "../../styles/mixins" as *;

.build-supplies {

    width: 100%; 
    letter-spacing: 1.5px;

    &__content {
        @include flex-layout(column,center,center);
        text-align: center;
        margin-top: 1em;
        margin-bottom: 2em;

        @include desktop{
            margin: 0 auto;
            gap:0.5rem;
        }


    }

    &__info {
        @include flex-layout(column,center,center);
        gap:1rem;
        padding:1rem;
    }

    &__title {
        text-transform: uppercase;
        padding:1rem;
        color: white;
        border-bottom: 1px solid white;

        @include tablet {
            font-size: 2.5rem;
            padding:0;
        }

        @include desktop {
            font-size:3rem;
        }
    }

    &__desc {
        white-space: pre-wrap;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size:2rem;
        }

        &--cta {
            @include link-reset;
            color: #000aae;
            &:hover {
                cursor: pointer;
            }
        }
    }


    &__cards {
        @include list-reset;
        @include flex-layout(column, center, center);
        gap:1rem;
        width: 80%;


        
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1.5rem;
            grid-row-gap: 2.5rem;
            width:95%;
        }

        @include desktop {
            grid-template-columns: 1fr 1fr 1fr;
            grid-row-gap:3rem;
            grid-gap:2rem;
        }

    }

    &__card {
        color:white;
        width:100%;
        height: 10rem;
        border: 2px solid #000aae; 
        border-radius: 0.5rem;
        @include flex-layout(column, center,center);
        overflow: hidden;
        box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,0.2);
        text-transform: uppercase;

        &:hover {
            transform: scale(1.1);
            transition: all ease-in-out .5s;
            filter:grayscale(0.5);
        }

        @include tablet {
            height: auto;
        }

    }

    &__img {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        object-fit:fill;
        object-position: 50% 50%;
    }

    &__card-title {
        width: 100%;
        color:white;
        text-align: center;
        text-transform: uppercase;
        padding:0.5rem;

        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size:2.5rem;
        }
    }
    

}