@use '../../styles/mixins' as *;

.hero {
    width: 100%; 
    min-height: 20vh;
    
    background-image: url("../../assets/images/construction-manager-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 16/9; 
    @include flex-layout(row, center, flex-start);
    padding-left: 40%;
    padding-top:5%;

    @include tablet {
        max-height: 30vh;
        background-position: center;
        @include flex-layout(row, center, center);
    }

    @include desktop {
        max-height: 55vh;
    
    }

    &__content {
        @include flex-layout(row, center, center);

        @include tablet {
            @include flex-layout(row, flex-end, center);
            flex-wrap:wrap;

        }

        @include desktop {
            margin: 0 auto;
        }
    }

    &__title {
        color:black;
        font-size: 1.5rem;

        @include tablet {
            display:none;
        }

        &--main {
            color: #000aac;
        }
    }

    &__title-tablet {
        display: none;
        @include tablet {
            color: black;
            font-size: 2rem; 
            display: inline-block;
            @include flex-layout(column, center, center);
        }
        
    }


}