@use '../../styles/mixins' as *;


.main {
    @include flex-layout(column, center, center); 
    letter-spacing: 1px;
    padding:0.25rem;
    margin-left:0.25rem;

    &__content {
        @include flex-layout(column,center,center);
        margin-top: 1em;
        margin-bottom: 2em;
        gap:1rem;
        text-align: center;

        @include desktop{
            margin: 0 auto;
            gap:0.5rem;
            padding:1rem;
        }
    }
   
    &__title {
        border-bottom: 1px solid white;
        color:white;
        text-transform: uppercase;
        font-size: 2rem;

        @include tablet {
            font-size: 2.5rem;
        }
        @include desktop {
            margin-top:2rem;
            font-size: 3rem;
        }
    }

    &__byline {
        font-style: italic;
        font-size: .75rem;
        color:white;


        @include tablet {
            font-size: 1rem;
        }

        @include desktop {
            font-size: 1.25rem;
        }
    }

    &__desc {
        text-transform: uppercase;
        margin-top:1rem;
        color:white;


        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__desc-details {
        white-space: pre-wrap;
        color:black; 
        letter-spacing: 1px;
        @include list-reset;
        @include flex-layout(column, center, center);
        gap:1rem;
        text-align: left;

        @include tablet {
            font-size: 1.15rem;
            padding:0.5rem;
        }

        @include desktop {
            font-size: 1.5rem;
            gap: 1rem;
        }
        
    }

    &__desc-detail {
        letter-spacing: 1px;
        white-space: pre-wrap;

        &--values {
            text-transform: uppercase;

            @include desktop {
                font-size: 1.5rem;
            }

        }

        &--cta {
            align-self:flex-start;
        }
    }

    &__desc-link {
        @include link-reset;
        
        &:hover,
        &:focus {
            text-decoration: underline;
            cursor: pointer;
            text-decoration-color: #000aac;
        }
    }



    &__resources {

        @include flex-layout(column,center,center);
        margin-top: 1em;
        gap:0.5rem;
        text-align: left;

        @include desktop{
            margin: 0 auto;
            gap:0.5rem;
        }
    }

    &__resources-heading {
        color:white;
        @include flex-layout(column,center,center);

        @include tablet {
            border-top: 2px solid black;
            border-bottom:2px solid black;
        }
        @include desktop {
            @include flex-layout(row, center,flex-start);
            padding:1rem;
        }

    }

    &__resources-image {
        width: 40%;
        border-radius:2rem;
        padding-bottom:1rem;
        
        @include tablet {
            width:50%;
        }

        @include desktop {
            margin:1rem;
            width:40%;
        }
    }

    &__resources-title {
        text-transform: uppercase;
        text-align: center;
        @include tablet {
            font-size: 1.5rem;
        }

        @include desktop {
            font-size:3.5rem;
            font-style: italic;
            padding:1rem;
            margin-top:5%;
        }
    }

    &__resources-byline {
        @include tablet {
            font-size: 1.15rem;
            padding:0.5rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }


    &__services {
        @include flex-layout(column, center, center);
        gap: 1rem;
        //padding:0.5rem;
    }

    &__services-title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-top:1rem;
        color:white;

        @include tablet {
            font-size:1.5rem;
        }

        @include desktop {
            font-size:2rem;
            margin-top:1rem;
        }
    }

    &__services-text {
        color:black;
        border-bottom: 1px solid black;
        padding-bottom:1rem;

        @include tablet {
            font-size: 1.15rem;
            padding:0.5rem;

        }

        @include desktop {
            font-size:1.5rem;
        }
    }

    &__quotes {
        @include flex-layout(column, center, center);
        gap: 1rem;
    }

    &__quotes-title {
        font-size: 1.25rem;
        text-transform: uppercase;
        color:white;

        @include tablet {
            font-size:1.5rem;
        }

        @include desktop {
            font-size:2rem;
            margin-top:1rem;
        }
    }

    &__quotes-text {
        color:black;
        border-bottom: 1px solid black;
        padding-bottom:1rem;

        @include tablet {
            font-size: 1.15rem;
            padding:0.5rem;

        }

        @include desktop {
            font-size:1.5rem;
        }
        
    }


}

.installation {
    @include flex-layout(column,center,center);
    //padding:1rem;

    &__title {
        font-size: 1.25rem;
        text-transform: uppercase;
        color:white;
        text-align: center;
        padding-bottom:0.5rem;

        @include tablet {
            font-size:1.5rem;
        }

        @include desktop {
            font-size:2rem;
            margin-top:1rem;
        }

    }

    &__byline {
        @include tablet {
            font-size: 1.15rem;
            margin-top:1rem;
        }

        @include desktop {
            font-size:1.5rem;
        }
    }

    &__text {
        margin-top: 0.5rem;
        white-space: pre-wrap;
        text-align: left;

        @include tablet {
            font-size: 1.15rem;
            padding:0.5rem;

        }

        @include desktop {
            font-size:1.5rem;
        }
    }

    &__list {
        padding:0;
    }

    &__item {
        color:white;

        @include tablet {
            font-size: 1.15rem;
        }

        @include desktop {
            font-size:1.5rem;
        }
    }

    &__learn {
        margin-top:0.5rem;
        color:white;
        text-align: left;

        @include tablet {
            font-size: 1.15rem;
            letter-spacing: 2px;
            padding:0.5rem;

        }

        @include desktop {
            font-size:1.5rem;
        }
    }

    &__text-offerings {
        margin:1rem 0 0 0;
        @include flex-layout(column,center, flex-start);
        
        @include tablet {
            font-size: 1.15rem;
            letter-spacing: 2px;

        }

        @include desktop {
            font-size:1.5rem;
        }

    }

    &__offerings {
        margin: 0 0 1rem 0;

        @include tablet {
            font-size: 1.15rem;
        }

        @include desktop {
            font-size:1.5rem;
        }
    }

    &__conclusion {

        @include tablet {
            font-size: 1.15rem;
            text-align: left;
            padding:0.5rem;

        }

        @include desktop {
            font-size:1.5rem;
        }
    }
}