@use "../../styles/mixins" as *;

.header {
    padding: 1rem 0rem 0 0rem;
    background-color: darkgray;
    height: 20%;
    position: sticky;
    top:0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    @include flex-layout(column, center, center);
    z-index: 10;

    @include tablet {
        @include flex-layout(row, space-between, center); 
        width:100%;
        padding: 0.5rem;

    }

    @include desktop{
        @include flex-layout(row, space-around,center);
        width:100%;
    }


}

.nav {
    @include desktop {
        width: 40%;
    }

    &__logo {
        height: 100%;
        width: 80%;
        padding-bottom:1rem;
        @include tablet {
            display:none;
        }

        &--tablet {
            display:none; 
            @include tablet {
                display: inline-block;
                width:90%;
                height:auto;
            }
        }
    }



    &__header {
        @include flex-layout(column, center, center);
        
        &:hover {
            cursor: pointer;
        }
    }
    
    &__list {
        @include list-reset;
        @include flex-layout(column, center, center);
        gap:0.5rem;

        @include tablet{
            @include flex-layout(row, flex-end, center);
            margin-top: 0rem;
            width:80%;
        }

        @include desktop {
            @include flex-layout(row, flex-end, center);
            margin: 0 auto;
        }
    }

    &__item {
        display: inline-block;
        padding-bottom:.25rem;
        @include tablet {
            margin-right: 1rem;
        }

        @include desktop {
            margin-right: 3rem;
        }
    }

    &__link {
        @include link-reset;
        color:black;

        &:hover,
        &:focus {
            border-bottom: 2px solid #000aac;
            margin-bottom: 1rem;
            color:#000aac;     
            @include tablet {
                padding:0.25rem;
            }
        }       

        @include tablet {
            font-size:1.25rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__link-icon {
        font-size: 1.5rem;
        @include tablet {
            font-size:2rem;
        }

        @include desktop {
            font-size: 2.5rem;
        }
    }
}
