@use '../../styles/mixins' as *;

.clients {

    &__content {
        @include flex-layout(column, center, center);
        gap: 1rem;
        padding:0.5rem;

        @include desktop {
            margin-top:3rem;
        }
    }

    &__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-top:1rem;
        color:white;


        @include tablet {
            font-size:1.5rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }

    &__desc {
        @include tablet {
            font-size:1.25rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }
}

.client-cards {
    @include flex-layout(column, center, center);
    gap:1rem;
    letter-spacing: 1px;
    width: 100%;

    @include tablet {
        @include flex-layout(row, center, center);
        flex-wrap:wrap;
    }
}

.client-card {
    border: 1px solid darkgrey;
    width: 80%; 
    box-shadow: 3px 3px 5px #000000aa;

    @include flex-layout(column, center, center);
    gap: 0.5rem;
    flex-wrap:nowrap;

    &:hover {
        background-color: white;
        color:black;
    }

    @include tablet {
        height: 10rem;
        width: auto; 

    }

    @include desktop {
        height: 15rem;
    }

    &__name {
        padding:0.5rem;
        color:#0042ac;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2px;

        @include desktop {
            font-size: 1.5rem;
        }
    }

    &__info {
        @include flex-layout(column,center,center);
        padding:0.5rem;
    }

    &__address {
        @include desktop {
            font-size:1.5rem;
        }
    }

    &__city {
        @include desktop {
            font-size:1.5rem;
        }
    }
}